<div class="container">
  <div class="add-container">
    <div class="first-container">
      <h1>
        <span class="google-blue">G</span>
        <span class="google-red">o</span>
        <span class="google-orange">o</span>
        <span class="google-blue">g</span>
        <span class="google-green">l</span>
        <span class="google-red">e</span>
      </h1>
      <h2>Create your Google Account</h2>
      <div class="name">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
      </div>
      <div class="user-name">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="">
          <span class="icon-email" matSuffix>@gmail.com</span>
          <mat-hint>You can use letters, numbers & periods</mat-hint>
        </mat-form-field>
      </div>
      <a href="">Use my current email address instead</a>
      <div class="password">
        <div class="password-container">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirm</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
        </div>
        <p class="hint">Use 8 or more characters with a mix of letters, numbers & <br>symbols</p>
      </div>
      <mat-checkbox color="primary" selected class="checkbox"><span class="text-checkbox">Show password</span>
      </mat-checkbox>
      <div class="footer-button">
        <button mat-button color="primary" class="button-sign">Sign in instead</button>
        <button mat-flat-button color="primary" class="button-next">Next</button>
      </div>
    </div>
    <div class="second-container">
      <img mat-card-image src="../../../assets/Capture.PNG" alt="">
      <mat-card-content>
        <p>
          One account. All of Google <span class="row">working for you.</span>
        </p>
      </mat-card-content>
    </div>
  </div>
  <div class="third-container">
    <div class="select-footer">
      <select>
        <option value="">English (United States)</option>
        <option>Romania</option>
      </select>
    </div>
    <div class="ul-list">
      <ul>
        <li><a href="">Help</a>
        </li>
        <li><a href="">Privacy</a>
        </li>
        <li><a href="">Terms</a>
        </li>
      </ul>
    </div>
  </div>
</div>