<div class="main-container">
    <div class="columns-1">
        <div class="first-edit">
            <mat-icon matPrefix>
                mode
            </mat-icon>
            <a href="" class="edit-profile">Edit Profile</a>
            <mat-icon matSuffix class="icon-arrow">
                arrow_forward_ios
            </mat-icon>
        </div>
        <div class="first-columns">
            <mat-icon matPrefix>
                notifications
            </mat-icon>
            <a href="">Notifications</a>
        </div>
        <div class="first-columns">
            <mat-icon matPrefix>
                traffic
            </mat-icon>
            <a href="">Choose Plan</a>
        </div>
        <div class="first-columns">
            <mat-icon matPrefix>
                verified_user
            </mat-icon>
            <a href="">Password and Security</a>
        </div>
    </div>
    <div class="columns-2">
        <h1>Edit Profile</h1>
        <div class="image">
            <img src="../../../assets/image-users.PNG">
        </div>
        <div class="first-last-name">
            <div class="name-box">
                <div class="up-names">First Name</div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Thomas D." value="">
                </mat-form-field>
            </div>
            <div class="name-box">
                <div class="up-names">Last Name</div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Hardison">
                </mat-form-field>
            </div>
        </div>
        <div class="email-number-adress">
            <div class="up-names">Email</div>
            <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="thomasdhardison@dayrep.com">
            </mat-form-field>
            <div class="up-names">Contacts Number</div>
            <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="661-724-7734">
            </mat-form-field>
            <div class="up-names">Adress</div>
            <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="1368 Hayhurst Lane.">
            </mat-form-field>
        </div>
        <div class="city-state">
            <div class="name-box">
                <div class="up-names">City</div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Mcallen">
                </mat-form-field>
            </div>
            <div class="name-box">
                <div class="up-names">State</div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="New York">
                </mat-form-field>
            </div>
        </div>
        <div class="zip-country">
            <div class="name-box">
                <div class="up-names">Zip Code</div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="11357">
                </mat-form-field>
            </div>
            <div class="name-box">
                <div class="up-names">Country</div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Unitated States">
                </mat-form-field>
            </div>
        </div>
        <div class="up-names">Password</div>
        <mat-form-field appearance="outline">
            <input matInput placeholder="...........">
            <mat-icon matSuffix>visibility_off</mat-icon>
        </mat-form-field>
        <button mat-raised-button class="button" color="primary">Save</button>
    </div>
</div>